---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-14 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<img src="/icon.svg" class="h-16 w-16 sm:absolute sm:start-[-5rem] sm:me-0 sm:h-20 sm:w-20" />
		</a>
		<nav
			aria-label="Main menu"
			class="z-auto mt-5 flex-row items-center divide-x divide-dashed divide-accent rounded-none bg-transparent py-0 shadow-none backdrop-blur-none sm:mt-7"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
</header>
